* {
    margin: 0px;
    padding: 0px;
    border: none;
}

a {text-decoration: none;}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

html {height: 100%;}

body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2em;
}

header {
    height: 10%;
    min-height: 2.5em;
    background-color: #222025;
    color: white;
    display: flex;
    align-items: center;
    cursor: default;
    width: 100%;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 1em 0.7em -1em rgba(0,0,0,0.5);
}

.page-logo {
    fill: white;
    padding: 0.5em;
    margin-right: 0.5em;
}

.navbar {
    width: 50%;
}

header ul {
    display: inline-block;
    width: 100%;
}


header ul li {
    display: inline-block;
    cursor: pointer;
    color: white;
    white-space: nowrap;
    margin-right: 1em;
}

header ul li a {color: white;}
header ul li a:hover {color: #B5B0B5;}

header ul li:hover {
    color: #B5B0B5;
}

.projects-dropdown {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    position: absolute;
    background-color: #383A3F;
    min-width: 3em;
    box-shadow: 0 0.8em 1.2em 0 rgba(0,0,0,0.3);
    z-index: 3;
    border-radius: 0 0 0.5em 0.5em;
}

.projects-dropdown a {
    display: block;
    font-size: 0.8em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: white;
}

.projects::after { content:"﹀"; padding: 0.5em 0 0 0.5em;}
.projects-dropdown a:hover {color: #B5B0B5;}

header ul li:hover .projects-dropdown {
    height: 6em;
}

header form {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-right: 2em;
}

header input {
    padding: 0.5em;
    font-size: 1em;
    background: #383A3F;
    border: none;
    border-radius: 0.25em;
    color: #B5B0B5;
}

.main {
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    display: flex;
    position: absolute;
}

.profile {
    height: 100%;
    width: 20%;
    display: inline-block;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.pfp {
    margin-top: 2em;
    max-width: 80%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: inset 0 0 2em rgba(0,0,0,0.3), 0.1em 0.2em 0.5em rgba(0,0,0,0.3);
}

.profile-text {
    padding: 1em 0 0 1em;
}

.name {
    color: #101010;
    font-size: 1.7em;
}

.username {
    font-size: 0.8em;
    color: #505560;
    font-weight: normal;
}

.info {
    padding: 0.5em 0 1em 0;
    width: 80%;
}

.hidden-link, .hidden-link:hover {color: #101010;}
.link {color: #505560;}
.link:hover {color: #959095;}

#line-container {
    display: flex;
    flex-direction: column;
}

.line {
    margin: 0 0 0.5em 0.5em;
    background-color: white;
    border-radius: 5em;
    box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.3);
    width: 3em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    transition: width 1s ease-in-out;
    z-index: 1;
}

.label {
    font-size: 0.9em;
    white-space: nowrap;
    height: 1em;
    display: inline-block;
    position: relative;
    bottom: 50%;
    transform: translateY(50%);
    border-top: 1px solid #A570A5;
}

.icon {
    max-width: 2.5em;
    max-height: 2.5em;
    display: inline-block;
    padding: 0.2em;
    transition: transform 1s ease-in-out;
    transform: rotate(0deg);
}

.line:hover .icon {
    transform: rotate(360deg);
}

.workspace {
    width: 80%;
    display: inline-block;
}

.main-nav-container {
    margin: 1em 0 0 4%;
}

#main-nav {
    font-size: 0.9em;
    display: flex;
    width: 80%;
    border-bottom: 1px solid #C5C0C5;
    position: relative;
}

#main-nav li {
    display: inline-block;
    margin-top: 1em;
    padding: 0 1em 1em 1em;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    z-index: 1;
}

#main-nav li:nth-of-type(1) {
    margin-left: 1em;
}

#underline {
    border-bottom: 3px solid #A570A5;
    position: absolute;
    padding: 1em;
    pointer-events: none;
    transition: all 0.2s ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#about {
    margin: 4% 0 0 4%;
    animation: fade-in 0.5s ease-in-out;
    width: 90%;
}

#artworks {
    margin-top: 4%;
    display: none;
    width: 100%;
    animation: fade-in 0.5s ease-in-out;
}

#snippets {
    margin-top: 4%;
    display: none;
    animation: fade-in 0.5s ease-in-out;
    width: 100%;
}

.about-title {
    font-weight: 600;
    font-size: 1.2em;
    white-space: nowrap;
    padding-left: 0.3em;
    width: 100%;
}

.about-paragraph {
    margin: 0.5em 0 0 0.5em;
    width: 60%;
    font-size: 0.9em;
}

#snippets-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#descriptions {
    display: inline-block;
    width: 30%;
    flex: 30%;
}

#source-code {
    display: inline-block;
    width: 70%;
    flex: 70%;
}

#source-code div {border-radius: 1em;}

.description {
    position: relative;
    border: solid;
    border-width: thin;
    border-color: #B5B0B5;
    width: 65%;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.3);
    margin: 0 0 1em 2em;
}

.description a {color: black;}

.description h3 {
    display: inline-block;
}

.date {
    color: #505560;
    font-size: 0.6em;
    display: inline-block;
}

.show-code {
    display: inline-block;
    position: absolute;
    top: -0.1em;
    right: 0.2em;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.5s;
}

.desc {
    font-size: 0.8em;
}

#radial-menu-source, #kaomoji-source, #calc-source {
    display: none;
    width: 90%;
    animation: fade-in 0.5s ease-in-out;
}

.imgrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.25em;
    width: 80%;
}

.imgcolumn {
    flex: 25%;
    max-width: calc(25% - 0.5em);
    padding: 0 0.25em;
}

.imgcolumn img {
    margin-top: 0.5em;
    vertical-align: middle;
    width: 100%!important;
    height: auto!important;
    box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.3);
}

@media only screen and (max-width: 1000px) {
    .profile {
        width: 30%;
    }
    .workspace {
        width: 70%;
    }
    .imgrow {
        width: 98%;
    }
    #descriptions {
        flex: 50%;
        width: 50%;
    }
    #source-code {
        flex: 50%;
        width: 50%;
    }
    .description {
        width: 90%;
        margin-left: 1em;
    }
}

@media only screen and (max-width: 1500px) {
    .twitter, .location, .email, .discord {
        display: none;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media only screen and (max-width: 800px) {
    .imgcolumn {
        flex: 50%;
        max-width: calc(50% - 0.5em);
    }
    #main-nav {
        width: 98%;
    }
    #main-nav li {
        padding: 0 0.5em 1em 0.5em;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
    .imgcolumn {
        flex: 100%;
        max-width: calc(100% - 0.5em);
    }
    .info {
        font-size: 0.9em;
        width: 100%;
    }
    .about-paragraph {
        width: 100%;
    }
    #descriptions {
        flex: 100%;
        width: 100%;
    }
    #source-code {
        flex: 100%;
        width: 100%;
    }
    .icon {
        max-width: 1.5em;
        max-height: 1.5em;
    }
    .line {
        width: 2em;
        height: 2em;
        margin-left: 0;
    }
    header input {
        width: 75%;
    }
}

@media only screen and (max-width: 450px) {
    .about-title {
        font-size: 1em;
    }
    header input {
        width: 40%;
    }
}

@media only screen and (max-height: 500px) {
    header {
        height: 15%;
    }
}