* {
    margin: 0px;
    padding: 0px;
    border: none;
}

:root {
    --background: #121012;
    --light-text: #fffcf5;
    --light-text-hover: #dfdcd7;
    --dark-text-hover: #555;
    --medium-background: #333;
    --lightest-background: #c3f1ee;
    --light-background: #9bb7d4;
    --desc-text: #333;
    --light-accent: #ffcfff;
    --grey-lines: #ccc7bf;
    --code-filter: brightness(2.5) saturate(0.6);
    --code-background: black;
    --code-border: 1px;
    --code-color: #a0814f;
    --scrollbar: #ebb0eb;
    --scrollbar-hover: #ca87ca;
}

@media (prefers-color-scheme: light) {    
    :root {
        --background: #fffcf5;
        --light-text: #121012;
        --light-text-hover: #777;
        --dark-text-hover: #c3f1ee;
        --medium-background: #ead1bb;
        --lightest-background: #be9b7b;
        --light-background: #7b9bbe;
        --desc-text: #fffcf5;
        --light-accent: #ca87ca;
        --grey-lines: #ccc7bf;
        --code-filter: none;
        --code-background: #ccbfb3;
        --code-border: initial;
        --code-color: initial;
        --scrollbar: #ca87ca;
        --scrollbar-hover: #a570a5;
    }
}

a {text-decoration: none; color: inherit;}
a:hover, a:focus, a:active {color: #dfdcd7; color: var(--light-text-hover);}
a.dark:hover, a.dark:focus, a.dark:active {color: #777; color: var(--dark-text-hover);}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

html {height: 100%;}

body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2em;
    background: #121012;
    background: var(--background);
    color: #fffcf5;
    color: var(--light-text);
}

header {
    height: 14%;
    max-height: 70px;
    min-height: 30px;
    background: #be9b7b;
    color: #121012;
    display: flex;
    align-items: center;
    cursor: default;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 1em 0.7em -1em rgba(0,0,0,0.5);
}

.page-logo {
    height: 90%;
    padding: 0.5em;
}

.page-logo svg {
    height: 100%;
    stroke: #121012;
}

.page-logo svg circle {
    fill: #fffcf5;
}

.navbar {
    width: 50%;
}

header ul {
    display: inline-block;
    width: 100%;
}


header ul li {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 1em;
}

.projects-dropdown {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    position: absolute;
    background-color: #333;
    background-color: var(--medium-background);
    color: #fffcf5;
    color: var(--light-text);
    min-width: 3em;
    box-shadow: 0 0.8em 1.2em 0 rgba(0,0,0,0.3);
    z-index: 3;
    border-radius: 0 0 0.5em 0.5em;
}

.projects-dropdown a {
    display: block;
    font-size: 0.8em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.projects::after { content:"﹀"; padding: 0.5em 0 0 0.5em;}
.projects-dropdown a:hover, .projects-dropdown a:focus, .projects-dropdown a:active {color: #dfdcd7; color: var(--light-text-hover);}

header ul li:hover .projects-dropdown, header ul li:focus .projects-dropdown, header ul li:active .projects-dropdown {
    height: 6em;
}

header form {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-right: 1.5vw;
}

header form input {
    padding: 0.5em;
    font-size: 1em;
    background: #333;
    background: var(--medium-background);
    border: none;
    border-radius: 0.25em;
    color: #dfdcd7;
    color: var(--light-text);
    outline: none;
}

.main {
    width: 100%;
    height: 86%;
    min-height: calc(100% - 70px);
    max-height: calc(100% - 30px);
    position: absolute;
}

.main-nav-container {
    margin: 1em 4% 0 4%;
}

#main-nav {
    font-size: 0.9em;
    display: flex;
    width: 80%;
    border-bottom: 1px solid #ccc7bf;
    border-color: var(--grey-lines);
    position: relative;
}

#main-nav li {
    display: inline-block;
    margin-top: 1em;
    padding: 0 1em 1em 1em;
    
    cursor: pointer;
    border-bottom: 3px solid transparent;
    z-index: 1;
}

#main-nav li:nth-of-type(1) {
    margin-left: 1em;
}

#underline {
    border-bottom: 3px solid #ffcfff;
    border-color: var(--light-accent);
    position: absolute;
    padding: 1em;
    pointer-events: none;
    transition: all 0.2s ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.workspace-container {
    width: 100%;
    height: 100%;
    touch-action: pan-y pinch-zoom;
    overflow: hidden;
}

.workspace {
    width: 100vw;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-out;
    touch-action: pan-y pinch-zoom;
    will-change: transform;
}

.workspace-tab {
    flex-shrink: 0;
    flex-grow: 0;
    height: 96%;
    width: 92vw;
    padding: 4vw 4vw 0 4vw;
    touch-action: pan-y pinch-zoom;
    overflow: auto;
}

.about-title {
    font-weight: 600;
    font-size: 1.2em;
    white-space: nowrap;
    padding-left: 0.3em;
}

.about-paragraph {
    margin: 0.5em 0 0.5em 0.5em;
    width: 40%;
    font-size: 0.9em;
    text-align: justify;
    text-justify: inter-word;
}

.profile-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2em;
}

.pfp-box {
    width: 20%;
    min-width: 300px;
}

.pfp {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 50%;
    box-shadow: inset 0 0 2em rgba(0,0,0,0.3), 0.1em 0.2em 0.5em rgba(0,0,0,0.3);
}

.profile-box {
    width: 20%;
    padding-left: 1em;
    border-left: solid 1px #fffcf5;
    border-color: var(--light-text);
    margin-left: 3em;
}

.name {
    font-size: 1.7em;
    display: inline-block;
}

.username {
    font-size: 0.8em;
    color: #dfdcd7;
    color: var(--light-text-hover);
    font-weight: normal;
    display: inline-block;
}

.info {
    padding: 0.5em 0 1em 0;
    display: inline-block;
}

#line-container {
    display: flex;
    flex-direction: column;
}

.line {
    margin: 0 0 0.5em 0;
    background-color: #c3f1ee;
    background-color: var(--lightest-background);
    border-radius: 5em;
    box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.3);
    width: 3em;
    height: 3em;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    transition: width 1s ease-in-out;
    z-index: 1;
}

.label {
    font-size: 0.9em;
    white-space: nowrap;
    height: 1em;
    display: inline-block;
    position: relative;
    bottom: 50%;
    transform: translateY(50%);
    border-top: 1px solid #333;
    border-color: var(--medium-background);
    color: #121012;
    color: var(--background);
}

.icon {
    max-width: 2.5em;
    max-height: 2.5em;
    display: inline-block;
    padding: 0.2em;
    transition: transform 1s ease-in-out;
    transform: rotate(0deg);
    stroke-linecap: round;
    stroke: none;
    fill: #121012;
    fill: var(--background);
    pointer-events: none;
}

.icon circle {fill: #c3f1ee; fill: var(--lightest-background);}
.icon polyline {stroke: #c3f1ee; stroke: var(--lightest-background); stroke-width: 1.5;}

.line:hover .icon, .line:focus .icon, .line:active .icon {
    transform: rotate(360deg);
}

#snippets-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#descriptions {
    display: inline-block;
    width: 30%;
    flex: 30%;
}

#source-code {
    display: inline-block;
    width: 70%;
    flex: 70%;
}

#source-code div {border-radius: 1em;}

.description {
    position: relative;
    background: #9bb7d4;
    background: var(--light-background);
    width: 65%;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.3);
    margin: 0 0 1em 2em;
    color: #333;
    color: var(--desc-text);
}

.description a {color: #121012; color: var(--background);}

.description h3 {
    display: inline-block;
}

.date {
    font-size: 0.6em;
    display: inline-block;
}

.show-code {
    display: inline-block;
    position: absolute;
    top: -0.1em;
    right: 0.2em;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    transition: transform 0.5s;
}

.desc {
    font-size: 0.8em;
}

#source-code > div {
    display: none;
    width: 100%;
    animation: fade-in 0.5s ease-in-out;
    filter: brightness(2.5) saturate(0.6);
    filter: var(--code-filter);
}

#source-code > div div, .highlight {background: black !important; background: var(--code-background) !important;}
.gist-file, .gist-data {border: 0px !important; border: var(--code-border) !important;}
.gist .blob-num {color: #a0814f !important; color: var(--code-color) !important;}

.imgrow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.imgcolumn {
    flex: 25%;
    max-width: calc(25% - 0.5em);
    padding: 0 0.25em;
}

.imgcolumn img {
    margin-top: 0.5em;
    vertical-align: middle;
    width: 100% !important;
    height: auto !important;
    box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.3);
    outline: none;
    background: #9bb7d4;
}

.circle-thingy {
    height: 20vmin;
    width: 20vmin;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.circle-thingy circle:nth-of-type(1) {fill: #be9b7b;}
.circle-thingy circle:nth-of-type(2) {fill: #c3f1ee; opacity: 0.6;}

@media only screen and (max-width: 1500px) {
    #descriptions {
        width: 40%;
        flex: 40%;
    }
    #source-code {
        flex: 60%;
        width: 60%;
    }
}

@media only screen and (max-width: 1000px) {
    #descriptions {
        flex: 50%;
        width: 50%;
    }
    #source-code {
        flex: 50%;
        width: 50%;
    }
    .description {
        width: 90%;
        margin-left: 1em;
    }
    .about-paragraph {
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    #main-nav {
        width: 100%;
        justify-content: center;
    }
    #main-nav li {
        padding: 0 0.5em 1em 0.5em;
    }
    .profile-flex {
        justify-content: center;
    }
    .profile-box {
        border: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .about-paragraph {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .info {
        font-size: 0.9em;
    }
    .about-paragraph {
        width: 100%;
    }
    #descriptions {
        flex: 100%;
        width: 100%;
    }
    #source-code {
        flex: 100%;
        width: 100%;
    }
    header input {
        width: 90%;
    }
}

@media only screen and (max-width: 450px) {
    .about-title {
        font-size: 1em;
    }
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar:horizontal, ::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #121012; background: var(--background);
}

::-webkit-scrollbar-track:horizontal {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ebb0eb; background: var(--scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background: #ca87ca; background: var(--scrollbar-hover);
}