* {
  margin: 0px;
  padding: 0px;
  border: none;
}

a {text-decoration: none; color: inherit;}
a:hover {color: #dfdcd7;}
a.dark:hover {color: #777;}

html {
  height: 100%;
  font-size: 2vmin;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2em;
  background: #121012;
  color: #fffcf5;
}

.page-logo {
  height: 14vh;
  width: 14vh;
  min-height: 30px;
  max-height: 70px;
  min-width: 30px;
  max-width: 70px;
  border-radius: 0 0 50% 0;
  padding: 0 0.2em 0.2em 0;
  background: #be9b7b;
}

.page-logo svg {
  height: 100%;
  stroke: #121012;
}

.page-logo svg circle {
  fill: #fffcf5;
}

main {
  position: absolute;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

main h3 {
  font-size: 3em;
  margin: 0.5em 0;
}

.invis {
  position: absolute;
  top: -1000px;
}

main .searchbar {
  width: 100%;
  height: 6vmin;
  font-size: 2em;
  padding: 0.1em 0.3em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  background: #333;
  border: none;
  border-radius: 4vmin;
  color: #dfdcd7;
  box-shadow: 0.2em 0.2em 0.6em 0 rgba(0,0,0,0.6);
}

main .results {
  margin-top: 1em;
  text-align: left;
  color: #121012;
}
main .results > p {
  color: #c3f1ee;
  font-size: 1.5em;
  margin-left: 1em;
}

main .results .result:nth-of-type(2n) {
  background: #be9b7b;
}

main .results .result:nth-of-type(2n + 1) {
  background: #9bb7d4;
}

main .result {
  height: 6vmin;
  margin-top: 0.5em;
  border-radius: 3vmin;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

main .result a {
  display: block;
  margin-left: 1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar:horizontal, ::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #121012;
}

::-webkit-scrollbar-track:horizontal {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ebb0eb;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca87ca; 
}