* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

a {text-decoration: none; color: inherit;}
a:hover, a:focus, a:active {color: #dfdcd7; color: var(--light-text-hover);}
a.dark:hover, a.dark:focus, a.dark:active {color: #c3f1ee; color: var(--dark-text-hover);}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

html {height: 100%;}
body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2em;
    background: #121012;
    background: var(--background);
    color: #fffcf5;
    color: var(--light-text);
}

header {
    height: 14%;
    max-height: 70px;
    min-height: 30px;
    background: #be9b7b;
    color: #121012;
    display: flex;
    align-items: center;
    cursor: default;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 1rem 0.7rem -1rem rgba(0,0,0,0.5);
}

header a.dark:hover, header a.dark:focus, header a.dark:active {color: #c3f1ee;}

.page-logo {
    height: 90%;
    padding: 0.5em;
}

.page-logo svg {
    height: 100%;
    stroke: #121012;
}

.page-logo svg circle {
    fill: #fffcf5;
}

.navbar {
    width: 50%;
}

header ul {
    display: inline-block;
    width: 100%;
}

header ul li {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 1em;
}

.projects-dropdown {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    position: absolute;
    background-color: #333;
    background-color: var(--medium-background);
    color: #fffcf5;
    color: var(--light-text);
    min-width: 3em;
    box-shadow: 0 0.8rem 1.2rem 0 rgba(0,0,0,0.3);
    z-index: 3;
    border-radius: 0 0 0.5rem 0.5em;
}

.projects-dropdown a {
    display: block;
    font-size: 0.8em;
    padding: 0.5rem 0.5rem 0.5rem 0.5em;
}

.projects::after { content:"﹀"; padding: 0.5rem 0 0 0.5em;}
.projects-dropdown a:hover, .projects-dropdown a:focus, .projects-dropdown a:active {color: #dfdcd7; color: var(--light-text-hover);}

header ul li:hover .projects-dropdown, header ul li:focus .projects-dropdown, header ul li:active .projects-dropdown {
    height: 6em;
}

header form {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-right: 1.5vw;
}

header form input {
    padding: 0.5em;
    font-size: 1em;
    background: #333;
    background: var(--medium-background);
    border: none;
    border-radius: 0.25em;
    color: #dfdcd7;
    color: var(--light-text);
    outline: none;
}

#main {
    width: 100%;
    height: 86%;
    min-height: calc(100% - 70px);
    max-height: calc(100% - 30px);
    position: absolute;
}

.workspace-scroll {
    height: 5%;
    width: 90%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    touch-action: pan-y pinch-zoom;
}

.workspace-scroll .bar {
    width: 100%;
    height: 1px;
    background: #777;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.workspace-scroll .bar .handle {
    width: 1em;
    height: 1em;
    background: #c3f1ee;
    background: var(--handle);
    border-radius: 50%;
    position: relative;
    transform: translateX(-50%);
    transition: left 0.3s ease-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.workspace-scroll .bar .handle:hover {width: 1.5em; height: 1.5em;}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#about {
    display: block;
}

.workspace-container {
    width: 100%;
    height: calc(95% - 2em);
    touch-action: pan-y pinch-zoom;
    overflow: hidden;
    position: sticky;
}

.workspace {
    width: 1300vw;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-out;
    touch-action: pan-y pinch-zoom;
    will-change: transform;
}

.workspace-tab {
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
    width: 92vw;
    padding: 0 4vw;
    touch-action: pan-y pinch-zoom;
    overflow: auto;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.about-title {
    font-weight: 600;
    font-size: 1.5em;
    white-space: nowrap;
    padding-left: 0.3em;
    width: 100%;
}

.about-paragraph {
    margin: 1rem 0 0 0.5em;
    width: 40%;
    font-size: 0.9em;
}

.image-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
}

.image-page:nth-of-type(2n) {
    margin: 3rem 0;
    flex-direction: row-reverse;
}

.image {
    display: inline-block;
    background: #9bb7d4;
    background: var(--light-background);
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 70vh;
    animation: fade-in 0.5s ease-in;
    box-shadow: 0.5rem 0.7rem 1rem rgba(0,0,0,0.5);
}

.desc {
    display: inline-block;
    flex: 30%;
    width: 30%;
    flex-grow: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #c3f1ee;
    border-color: var(--underline);
    margin: 3rem;
    box-shadow: 0px 0.5rem 0.2rem -0.5rem rgba(0,0,0,0.5);
}

.title {
    font-weight: normal;
    font-size: 1.5em;
    padding-bottom: 0.3em;
    max-width: 100%;
    animation: fade-in 0.5s ease-in;
    display: inline-block;
}

.caption {
    font-size: 0.9em;
    animation: fade-in 0.5s ease-in;
}

@media only screen and (max-width: 1000px) {
    .image-page {
        justify-content: center;
    }
    .image {
        max-width: 100%;
    }
    .desc {
        flex: 80%;
        width: 80%;
        margin-top: 1em;
    }
    .main-nav-container {
        width: 95%;
        margin: 1rem auto 0 auto;
    }
    #main-nav {
        width: 100%;
    }
    .about-paragraph {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    header input {
        width: 90%;
    }
    .about-paragraph {
        width: 100%;
    }
    .workspace-container {
        overflow: initial;
        overflow-x: hidden;
        height: auto;
    }
    .workspace-tab {
        overflow: initial;
        height: auto;
        padding-bottom: 4%;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  width: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar:horizontal, ::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: #121012; background: var(--background);
}

::-webkit-scrollbar-track:horizontal {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ebb0eb; background: var(--scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background: #ca87ca; background: var(--scrollbar-hover);
}

:root {
    --background: #121012;
    --light-text: #fffcf5;
    --light-text-hover: #dfdcd7;
    --dark-text-hover: #555;
    --medium-background: #333;
    --light-background: #9bb7d4;
    --handle: #c3f1ee;
    --underline: #c3f1ee;
    --scrollbar: #ebb0eb;
    --scrollbar-hover: #ca87ca;
}

@media (prefers-color-scheme: light) {    
    :root {
        --background: #fffcf5;
        --light-text: #121012;
        --light-text-hover: #777;
        --dark-text-hover: #c3f1ee;
        --medium-background: #ead1bb;
        --light-background: #7b9bbe;
        --handle: #a570a5;
        --underline: #9bb7d4;
        --scrollbar: #ca87ca;
        --scrollbar-hover: #a570a5;
    }
}